:root {
  --verde: #32620e;
  --amarillo: #f2bf57;
  --gris: #545454;
  --textoClaro: #fafafa;
}
.mobile {
  display: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: aliceblue;
  position: relative;
}
header {
  height: 90px;
  background: var(--verde);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  display: inline;
  font-family: 'hitch_hikeregular';
  color: var(--amarillo);
  font-size: 70px;
  margin-bottom: 0px;
}
.btn-carrito {
  color: var(--textoClaro);
  padding: 20px;
  text-decoration: none;
  position: relative;
}
.btn-carrito span {
  font-size: 50px;
  cursor: pointer;
}
.btn-carrito:hover {
  color: var(--amarillo);
}
.precioTotal {
  margin: -13px 0px;
  font-size: 13px;
  position: absolute;
  bottom: 25px;
  right: 20px;
  *font-weight: 700;
  color: var(--textoClaro);
}
.precioTotal:hover {
  color: var(--textoClaro);
}
#global {
  min-width: 90vw;
  min-height: 80vh;
}
.productos {
  height: fit-content;
  min-height: calc(100vh - 150px);
  margin: 5px 0px;
  max-width: 1500px;
  align-self: center;
  align-content: center;
  position: relative;
}
.btn-warning {
  background: var(--verde);
  border-color: var(--verde);
  color: var(--textoClaro);
}
.logo {
  width: 70px;
  border-radius: 50px;
  margin: 10px;
}
.productCard {
  border: solid 1px var(--verde);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  min-width: 230px;
  max-width: 300px;
  position: relative;
}
.productCard h3 {
  text-align: center;
}
.productCard h4 {
  margin-top: 16px;
}

.productCard p {
  margin-bottom: 0.5rem;
  text-align: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(50, 98, 14, 0.2);
}

.prodImg {
  width: 175px;
  aspect-ratio: 1;
  object-fit: cover;
  margin: 5px;
}
.productCard button {
  position: absolute;
  right: 20px;
  bottom: 15px;
  padding-top: 12px;
  border-radius: 30px;
}
footer {
  background: var(--gris);
  color: var(--textoClaro);
  font-size: small;
  text-align: center;
  padding: 0.75rem 0px;
}
.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding-top: 12px;
  border-radius: 40px;
}
.whatsapp span {
  font-size: 40px;
}
@media only screen and (max-width: 767px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }

  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 90%;
  }
  .col {
    max-width: 300px;
  }
}
.mercadopago-button {
  background: var(--verde) !important;
}
.orden {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orden h1 {
  font-family: 'hitch_hikeregular';
  color: var(--verde);
  font-size: 4.5rem;
}
.ordenTable {
  min-width: 55%;
  margin: 1.5rem 0px;
  text-align: center;
  border-bottom: 1px solid var(--verde);
}
th {
  color: var(--verde);
  padding-bottom: 1rem;
}
td {
  padding-bottom: 0.5rem;
}

.orden h2 {
  color: var(--verde);
}
