:root{
    --verde: #32620e;
    --amarillo: #f2bf57;
    --gris: #545454;
}

body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 90px;
    background: var(--amarillo);
}


.logo{
    width: 70px;
    border-radius: 50px;
    margin: 10px;
}


@media only screen and (max-width: 767px) {
}